# Rust often needs a bit of an extra main task stack size compared to C (the default is 3K)
#was 28000 with no problems
CONFIG_ESP_MAIN_TASK_STACK_SIZE=60000
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=8000

CONFIG_FREERTOS_ISR_STACKSIZE=8000
#https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/kconfig-reference.html#config-freertos-isr-stacksize

#TODO: disable CONFIG_FREERTOS_CHECK_STACKOVERFLOW_CANARY for perf. later.
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_CANARY=y
CONFIG_ESP_SYSTEM_HW_STACK_GUARD=y

CONFIG_ESP_IPC_TASK_STACK_SIZE=8000
#https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/kconfig-reference.html#config-esp-ipc-task-stack-size

CONFIG_ESP_TIMER_TASK_STACK_SIZE=10000
#https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/kconfig-reference.html#config-esp-timer-task-stack-size
# Range from 2048 to 65536 Default value: 3584

CONFIG_LWIP_TCPIP_TASK_STACK_SIZE=20000
#https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/kconfig-reference.html#config-lwip-tcpip-task-stack-size

CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=8000
CONFIG_PTHREAD_STACK_MIN=5000

CONFIG_ESP_MINIMAL_SHARED_STACK_SIZE=3000
CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=3000

#-------------------------------Stack settings above----------------------


# Use this to set FreeRTOS kernel tick frequency to 1000 Hz (100 Hz by default).
# This allows to use 1 ms granularity for thread sleeps (10 ms by default).
CONFIG_FREERTOS_HZ=1000

# Workaround for https://github.com/espressif/esp-idf/issues/7631
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=n

#After building and flashing, when a panic occurs, the MCU will pause execution. You can then use 
#idf-monitor and GDB to inspect registers, local variables, and memory to find the root cause of the panic. 
CONFIG_ESP_SYSTEM_PANIC_GDBSTUB=y

#The chip on the Krovo 2 V3.1: ESP32-S3-WROOM-1-N8R8, 8 MB QSPI flash, 8 MB Octal PSRAM.
#We need to enable the additional PSRAM
CONFIG_SPIRAM=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_USE_MALLOC=y

CONFIG_SPIRAM_SPEED_40M=y

#maybe disable the following line if this doesn't work
CONFIG_SPIRAM_XIP_FROM_PSRAM=y

CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_BOOT_HW_INIT=y

CONFIG_SPIRAM_ECC_ENABLE=y
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y

CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=2000
#CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=20000
#Might be needed for DMA.
#The MALLOC_CAP_DMA and MALLOC_CAP_INTERNAL flags can be used to allocate memory from this pool.
#See more here https://docs.espressif.com/projects/esp-idf/en/stable/esp32s3/api-guides/external-ram.html#provide-external-ram-via-malloc

CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y
CONFIG_SPIRAM_ALLOW_NOINIT_SEG_EXTERNAL_MEMORY=y

#PSARM resources: https://docs.espressif.com/projects/esp-idf/en/latest/esp32s3/api-reference/kconfig-reference.html#esp-psram

#CONFIG_SPIRAM_MEMTEST=y --runs for us
#CONFIG_ESP_PANIC_HANDLER_IRAM=y



#CONFIG_ESP_INT_WDT_TIMEOUT_MS=10000
#CONFIG_ESP_INT_WDT_TIMEOUT_MS up to 10000
#CONFIG_ESP_TASK_WDT_TIMEOUT_S=60
#max is 60 for task timeout